.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose*.yml
#docker-compose.dcproj
*.md
hosts
LICENSE
*.testsettings
vsts-docs
test
ServiceFabric
readme
k8s
img
docs
deploy
Components
cli-windows
cli-mac
cli-linux
nupkg
**/bin/
**/obj/
#**/node_modules/
**/bower_components/
**/wwwroot/lib/*